# Node.js
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Testing
coverage/

# Environment variables
.env

# Dependencies
package-lock.json

# VS Code directory
.vscode/

# Mac OS
.DS_Store

# Nodemon
nodemon-debug.log
